header{
    background-color: whitesmoke;
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

.nav-container{
    background-color: whitesmoke;
    padding: 8px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    overflow: hidden;
    top:0;
    width: 100%;
    z-index: 3;
}


.overlayNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
}