.nav-container{
    background-color: whitesmoke;
    padding: 8px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    overflow: hidden;
    top:0;
    width: 100%;
    z-index: 3;
}

.overlayNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    background-color: whitesmoke;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlayNav-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlayNav a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Nunito Sans';
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlayNav a:hover, .overlayNav a:focus {
    color: #2e2d2d;
}

.overlayNav .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
}

.cursor{
    font-size:25px;
    cursor:pointer; 
    float:right; 
    margin-right: 1%;
    order:3;
    color: black;
}

.logo1{
    order:1;
}

.logo1 .logo{
    width: 30px;
    height: auto;
    margin-top: -5%;
}

.akun{
    order:2;
}

.akun .btnLogin{
    width: 100%;
    height: auto;
}

@media screen and (max-width:768px){
    .nav-container{
        width: 100%;
        padding : 0px;
    }

    .btnLogin{
        font-size: 10px;
    }
    .logo1 .logo{
        width: 20px;
        margin: 10px;
    }
    .cursor{
        font-size:20px;
        margin:10px;
    }

    .akun .btnLogin{
        width: 20px;
        height: auto;
    }

    .overlayNav-content a{
        font-size: 12px;
    }

    .overlayNav .closebtn {
        position: absolute;
        top: 50px;
        right: 45px;
        font-size: 25px;
    }

    .input-keyword{
        font-size: 8px;
    }

}