@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');

.detail-book-container{
    background-color: rgb(241, 241, 241);
    border-radius: 5px 5px 5px 5px;
    margin-top: 100px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 35px #727272;
}

.cover-container .img-fluid{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.book-title{
    height: auto;
    margin-bottom: 20px;
    font-family: 'Mitr', sans-serif;
    font-size: 35px;
    text-align: justify;
}

.book-synopsis{
    height: 370px;
    padding: 0px 10px 0px 10px;
    font-family: 'Mitr', sans-serif;
    font-size: 15px;
    text-align: justify;
    overflow-y: scroll;
}

@media(max-width: 600px){
    .book-synopsis{
        overflow: scroll;
    }
}